@font-face {
  font-family: Rubik Light;
  src: url("../Rubik-Light.30b631eb.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Rubik Regular;
  src: url("../Rubik-Regular.44063caa.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Rubik Medium;
  src: url("../Rubik-Medium.0173dc99.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: Rubik Medium, sans-serif;
  display: flex;
}

header {
  color: #000;
  z-index: 0;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  box-shadow: 0 0 10px #000;
}

.header-izquierdo {
  align-items: center;
  gap: 1.5rem;
  display: flex;
}

.header-izquierdo h1 {
  font-size: 1.5rem;
}

.header-izquierdo a {
  color: #000;
  background-color: #8fe1ff;
  border-radius: .7em;
  padding: .5rem 1rem;
  font-family: Rubik Regular, sans-serif;
  text-decoration: none;
  transition: filter .2s;
}

.header-izquierdo a:hover {
  filter: brightness(.75);
}

.header-derecho {
  flex-direction: row;
  align-items: center;
  gap: 1em;
  display: flex;
}

.header-derecho img {
  cursor: pointer;
  border-right: 1em;
}

.header-derecho img:first-child {
  width: 2em;
  height: 2em;
  transition: all 1s;
}

.header-derecho img:first-child:hover {
  transform: rotate(360deg);
}

.header-derecho img:nth-child(2) {
  object-fit: cover;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  overflow: hidden;
}

.texto-usuario {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.texto-usuario p {
  margin: .25em;
}

.texto-usuario .nombre-usuario {
  font-family: Rubik Regular, sans-serif;
}

.texto-usuario .medallas-usuario {
  text-align: center;
  font-family: Rubik Light, sans-serif;
}

main {
  text-align: center;
  color: #fff;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
}

main h1 {
  font-size: 2rem;
}

footer {
  color: #d3d3d3;
  background-color: #2d2d2d;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  position: relative;
  top: 1rem;
}

footer a {
  color: #d3d3d3;
  font-family: Rubik Regular, sans-serif;
  text-decoration: none;
  transition: color .2s;
}

footer a:hover {
  color: #fff;
}

.configuracion {
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
  display: flex;
}

.configuracion label {
  color: #000;
  font-family: Rubik Regular, sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  transform: translate(0%, -70%);
}

.configuracion input[type="checkbox"] {
  cursor: pointer;
  accent-color: #8fe1ff;
  width: 2em;
  min-width: 1em;
  height: 2em;
  display: inline-block;
}

.boton {
  text-align: center;
  cursor: pointer;
  border: .5vh solid #000;
  border-radius: 2vh;
  outline: none;
  width: 30vh;
  padding-top: 2.25vh;
  padding-bottom: 2.25vh;
  font-family: Rubik Light, sans-serif;
  font-size: 2vw;
  transition: filter .2s ease-in-out;
  box-shadow: 0 .5vw 1vw #00000080;
}

.boton:hover {
  filter: brightness(.75);
}

.boton-blanco {
  color: #000;
  background-color: #fff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .4em;
  display: flex;
}

.boton-blanco img {
  width: 1em;
}

.boton-azul {
  color: #fff;
  background-color: #064156;
}

.confirmar-cambios {
  color: #000;
  background-color: #8fe1ff;
}

.ventana-configuracion, .ventana-usuario, .ventana-confirmacion {
  z-index: 1;
  background-color: #00000080;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.contenido-ventana {
  text-align: left;
  color: #000;
  background-color: #fff;
  border-radius: 4vh;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 80vh;
  padding: 6vh;
  display: flex;
  transform: scale(.7);
}

.contenido-ventana .informacion-usuario {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.contenido-ventana .informacion-usuario img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1em;
}

.contenido-ventana .informacion-usuario p {
  margin: .4em;
  font-size: 120%;
}

.contenido-ventana .informacion-usuario .nombre-usuario {
  font-family: Rubik Regular, sans-serif;
  font-size: 200%;
}

.contenido-ventana .informacion-usuario .medallas-usuario {
  font-family: Rubik Light, sans-serif;
}

.titulo-ventana {
  text-align: center;
  margin-top: 0;
  font-family: Rubik Medium, sans-serif;
  font-size: 4vh;
}

.contenido-ventana section label, .contenido-ventana section section label {
  margin-top: 4vh;
  font-family: Rubik Regular, sans-serif;
  font-size: 3vh;
}

.contenido-ventana section input, .contenido-ventana section section input {
  border: .4vh solid #ccc;
  border-radius: 2vh;
  width: 85%;
  margin: 1vh 0 3vh;
  padding: 2vh;
  font-family: Rubik Light, sans-serif;
  font-size: 3vh;
}

.contenido-ventana div .boton {
  text-align: center;
  border: .5vh solid #000;
  width: auto;
  margin-top: 4vh;
  padding: 2.4vh;
  font-size: 4.4vh;
}

.botones-ventana {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  display: flex;
}

#userAlreadyRegistered, #passwordNotLongEnough {
  color: red;
  text-align: left;
  margin-top: 0;
  font-family: Rubik Light, sans-serif;
  font-size: 1.4em;
  display: none;
}

#changedData {
  color: green;
  text-align: left;
  margin-top: 0;
  font-family: Rubik Light, sans-serif;
  font-size: 1.7em;
  display: none;
}

.ventana-confirmacion .contenido-ventana {
  gap: 0;
  width: 40em;
}

.ventana-confirmacion .contenido-ventana .titulo-ventana {
  font-family: Rubik Regular, sans-serif;
}

.avatar-container {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 2em;
  overflow: hidden;
  transform: scale(1.5);
}

.avatar-container .user-avatar {
  object-fit: cover;
  transition: opacity .3s;
}

.avatar-container .edit-icon {
  opacity: 0;
  width: 1em;
  height: 1em;
  transition: opacity .2s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(.5);
}

.avatar-container input {
  display: none;
}

.avatar-container:hover {
  cursor: pointer;
}

.avatar-container:hover .user-avatar {
  opacity: .5;
}

.avatar-container:hover .edit-icon {
  opacity: 1;
}

@media (width <= 768px) {
  header {
    height: 5em;
  }

  header h1 {
    display: none;
  }

  footer {
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .header-derecho {
    gap: 1em;
  }

  #passwordNotLongEnough, #userAlreadyRegistered, #changedData {
    font-size: 1.2em;
  }
}

@media (width <= 480px) {
  header, main {
    overflow: scroll;
  }

  .header-derecho {
    margin-right: 1em;
  }

  .header-derecho .texto-usuario {
    display: none;
  }

  .header-derecho img:first-child {
    margin-left: 2em;
  }

  .contenido-ventana {
    position: inherit;
    gap: 50%;
    width: 120%;
    transform: scale(.8);
  }

  .informacion-usuario {
    margin: 1em;
  }

  button, input {
    overflow: hidden;
  }

  #passwordNotLongEnough, #userAlreadyRegistered, #changedData {
    font-size: 1em;
  }
}

body {
  background-color: #000617;
}

main {
  background-image: url("../tutorialesFondo3200.9450bfff.avif"), url("../tutorialesFondo3200.7c61825b.webp"), url("../tutorialesFondo3200.223f4ff6.jpg");
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.contenedor-tutoriales {
  flex-direction: column;
  padding-bottom: 12%;
  display: flex;
}

.contenedor-tutorial {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  display: flex;
}

.contenedor-tutorial img {
  border: .4em solid #000;
  border-radius: 3rem;
  width: 20rem;
}

.contenedor-tutorial .contenedor-texto {
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  display: flex;
}

.contenedor-tutorial .contenedor-texto h2 {
  font-family: Rubik Regular, sans-serif;
}

.contenedor-tutorial .contenedor-texto ul {
  text-align: justify;
  font-family: Rubik Light, sans-serif;
}

.contenedor-tutorial .contenedor-texto ul li {
  padding: 1rem;
  font-size: 120%;
}

.contenedor-tutorial .contenedor-texto ul li img {
  filter: invert() brightness(10);
  border: 0;
  width: 1rem;
  height: 1rem;
}

.barra-divisora {
  opacity: .2;
  background-color: #fff;
  border-radius: 100em;
  width: 80vw;
  margin: 4em;
  padding: .25em;
}

@media (width <= 2560px) {
  main {
    background-image: url("../tutorialesFondo2560.b9c1b702.avif"), url("../tutorialesFondo2560.6cfd239b.webp"), url("../tutorialesFondo2560.862a8384.jpg");
  }
}

@media (width <= 1920px) {
  main {
    background-image: url("../tutorialesFondo1920.cd4e3c21.avif"), url("../tutorialesFondo1920.7bcbfcda.webp"), url("../tutorialesFondo1920.c151195f.jpg");
  }
}

@media (width <= 1200px) {
  main {
    background-image: url("../tutorialesFondo1200.fc99c834.avif"), url("../tutorialesFondo1200.1ee463fe.webp"), url("../tutorialesFondo1200.51019330.jpg");
  }
}

@media (width <= 768px) {
  main {
    background-image: url("../tutorialesFondo768.bfead7ca.avif"), url("../tutorialesFondo768.ba3e2ff1.webp"), url("../tutorialesFondo768.3372e330.jpg");
  }

  .contenedor-tutorial {
    flex-direction: column;
  }

  .contenedor-tutorial .contenedor-texto {
    width: 80vw;
  }
}

@media (width <= 480px) {
  main {
    background-image: url("../tutorialesFondo480.f49566c6.avif"), url("../tutorialesFondo480.94084739.webp"), url("../tutorialesFondo480.8d2d96f9.jpg");
  }

  .contenedor-tutorial img {
    border: 0;
    border-radius: 0;
    width: 100vw;
    height: auto;
  }

  .contenedor-tutorial .contenedor-texto {
    width: 80vw;
  }

  li {
    text-align: left;
  }
}
/*# sourceMappingURL=tutoriales.95a274c6.css.map */
