@charset "UTF-8";
@font-face {
  font-family: "Rubik Light";
  src: url("../../media/fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rubik Regular";
  src: url("../../media/fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rubik Medium";
  src: url("../../media/fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* Cuerpo de la página */
body {
  background-image: url("../../media/images/avif/aterrizajeFondo3200.avif"), url("../../media/images/webp/aterrizajeFondo3200.webp"), url("../../media/images/jpg/aterrizajeFondo3200.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-family: "Rubik Regular", sans-serif;
  display: flex;
  justify-content: center;
}

main {
  text-align: center;
}

/* Título "Goal Tracker" */
.titulo-goal-tracker {
  margin: 0;
  margin-top: 7vh;
  color: white;
  font-family: "Rubik Medium", sans-serif;
  font-size: calc(8vh + 3vw);
  text-shadow: 0px 0.8vw 0.8vw rgba(0, 0, 0, 0.25);
}

/* Subtítulo "Crea y gestiona tus propios objetivos" */
.subtitulo-crea-gestiona {
  margin: 0;
  margin-top: calc(7vh - 1vw);
  color: white;
  font-family: "Rubik Light", sans-serif;
  font-size: calc(2.8vh + 1.4vw);
  text-shadow: 0px 0.2vw 0.1vw rgba(0, 0, 0, 0.25);
}

/* Contenedor de botones "Iniciar Sesión" y "Registrarse" */
.botones {
  margin: 0;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  gap: 2vw;
  padding: 40px;
  background-color: rgba(145, 226, 255, 0.5);
  border-radius: 4vh;
}
.botones .boton {
  font-size: calc(0.5vw + 3vh);
}

/* Botón genérico */
.boton {
  font-family: "Rubik Light", sans-serif;
  font-size: 2vw;
  padding-top: 2.25vh;
  padding-bottom: 2.25vh;
  width: 30vh;
  text-align: center;
  border: 0.5vh solid black;
  border-radius: 2vh;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
  outline: none;
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.5);
}
.boton:hover {
  filter: brightness(0.75);
}

.boton-blanco {
  background-color: white;
  color: black;
  margin-right: 0.4vw;
}

.boton-azul {
  background-color: #064156;
  color: white;
  margin-left: 0.4vw;
}

/* Ventana que ocupa lo que es el widget + el espacio negativo negro semi-transparente de alrededor, que se extiende hasta el límite de la pantalla */
.ventana-login,
.ventana-registro {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* Lo que es el widget de la ventana en sí */
.contenido-ventana {
  background-color: white;
  text-align: left;
  color: black;
  padding: 6vh;
  width: 60vh;
  border-radius: 4vh;
}

/* El título de la ventana (Ej. "Iniciar Sesión" / "Registrarse") */
.titulo-ventana {
  margin-top: 0;
  font-family: "Rubik Medium", sans-serif;
  font-size: 4vh;
  text-align: center;
}

/* Título de un campo */
.contenido-ventana label {
  font-size: 3vh;
  margin-top: 4vh;
}

/* Input de formulario en ventana */
.contenido-ventana input {
  width: 85%;
  padding: 2vh;
  margin-top: 1vh;
  margin-bottom: 3vh;
  margin-left: 0;
  margin-right: 0;
  border: 0.4vh solid #ccc;
  border-radius: 2vh;
  font-family: "Rubik Light", sans-serif;
  font-size: 3vh;
}

/* Botón en ventana */
.contenido-ventana .boton {
  background-color: #8FE1FF;
  color: black;
  padding: 2.4vh;
  font-size: 4.4vh;
  margin-top: 4vh;
  text-align: center;
  width: auto;
  border: 0.5vh solid black;
}

/* Contenedor de los botones en la ventana */
.botones-ventana {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Textos de Error manipulados por JavaScript */
#passwordsDontMatch,
#userNotFound,
#userAlreadyRegistered,
#incorrectPassword,
#passwordNotLongEnough {
  color: red;
  margin-top: 0;
  text-align: left;
  font-family: "Rubik Light", sans-serif;
  font-size: 2.4vh;
  display: none;
}

/* Media queries para adaptar el formato (sobre todo de imagen) a las resoluciones requeridas */
@media (max-width: 2560px) {
  body {
    background-image: url("../../media/images/avif/aterrizajeFondo2560.avif"), url("../../media/images/webp/aterrizajeFondo2560.webp"), url("../../media/images/jpg/aterrizajeFondo2560.jpg");
  }
}
@media (max-width: 1920px) {
  body {
    background-image: url("../../media/images/avif/aterrizajeFondo1920.avif"), url("../../media/images/webp/aterrizajeFondo1920.webp"), url("../../media/images/jpg/aterrizajeFondo1920.jpg");
  }
}
@media (max-width: 1200px) {
  body {
    background-image: url("../../media/images/avif/aterrizajeFondo1200.avif"), url("../../media/images/webp/aterrizajeFondo1200.webp"), url("../../media/images/jpg/aterrizajeFondo1200.jpg");
  }
  .botones {
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }
  .contenido-ventana {
    transform: scale(0.9);
  }
}
@media (max-width: 768px) {
  body {
    background-image: url("../../media/images/avif/aterrizajeFondo768.avif"), url("../../media/images/webp/aterrizajeFondo768.webp"), url("../../media/images/jpg/aterrizajeFondo768.jpg");
  }
  .contenido-ventana {
    transform: scale(0.8);
  }
  .botones {
    transform: scale(0.8);
  }
}
@media (max-width: 480px) {
  body {
    background-image: url("../../media/images/avif/aterrizajeFondo480.avif"), url("../../media/images/webp/aterrizajeFondo480.webp"), url("../../media/images/jpg/aterrizajeFondo480.jpg");
  }
  .contenido-ventana {
    transform: scale(0.7);
  }
  .botones {
    transform: scale(0.6);
    margin-left: 16vw;
  }
  .titulo-goal-tracker {
    transform: scale(0.8);
    margin-left: 16vw;
  }
  .subtitulo-crea-gestiona {
    width: 300px;
    margin-left: 12vh;
  }
}/*# sourceMappingURL=aterrizajeStyle.css.map */