:root {
    --rubikLight: 'Rubik Light', sans-serif;
    --rubikRegular: 'Rubik Regular', sans-serif;
    --rubikMedium: 'Rubik Medium', sans-serif;
    --azulOscuro: #064156;
    --azulTransparente: #91E2FF80;
    --azulClaro: #8FE1FF;
}

/**
  * =================================================
  * REGLAS DEFAULT
  * =================================================
  */

@font-face {
    font-family: "Rubik Medium";
    src: url("../../media/fonts/Rubik-Medium.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Rubik Regular";
    src: url("../../media/fonts/Rubik-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Rubik Light";
    src: url("../../media/fonts/Rubik-Light.ttf") format("truetype");
    font-display: swap;
}

body{
    background-image: 
        url('../../media/images/avif/aterrizajeFondo3200.avif'),
        url('../../media/images/avif/aterrizajeFondo3200.webp'),
        url('../../media/images/avif/aterrizajeFondo3200.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: var(--rubikRegular);
    display: flex;
    justify-content: center;
}

main{
    text-align: center;
}

.titulo-goal-tracker{
    margin: 0;
    margin-top: 7vh;
    color: white;
    font-family: var(--rubikMedium);
    font-size: calc(8vh + 3vw);
    text-shadow: 0px 0.8vw 0.8vw rgba(0, 0, 0, 0.25);
}

.subtitulo-crea-gestiona{
    margin: 0;
    margin-top: calc(7vh - 1vw);
    color: white;
    font-family: var(--rubikLight);
    font-size: calc(2.8vh + 1.4vw);
    text-shadow: 0px 0.2vw 0.1vw rgba(0, 0, 0, 0.25);
}

.botones{
    margin: 0;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    gap: 2vw;
    padding: 40px;
    background-color: var(--azulTransparente);
    border-radius: calc(4vh);
}

.botones .boton{
    font-size: calc(0.5vw + 3vh);
}

.boton,
.contenido-ventana .boton {
    font-family: var(--rubikLight);
    font-size: 2vw;
    padding-top: 2.25vh;
    padding-bottom: 2.25vh;
    width: 30vh;
    text-align: center;
    border: 0.5vh solid black;
    border-radius: 2vh;
    cursor: pointer;
    transition: filter 0.2s ease-in-out;
    outline: none;
}

input[type="submit"].boton {
    border: 0.5vh solid black;
    border-radius: 2vh;
}

.boton:hover {
    filter: brightness(0.75);
}

.boton-blanco {
    background-color: white;
    color: black;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.5);
    margin-right: 0.4vw;
}

.boton-azul {
    background-color: var(--azulOscuro);
    color: white;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.5);
    margin-left: 0.4vw;
}

.ventana-login,
.ventana-registro {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.contenido-ventana {
    background-color: white;
    text-align: left;
    color: black;
    padding: 6vh;
    width: 60vh;
    border-radius: 4vh;
}

.titulo-ventana {
    margin-top: 0;
    font-family: var(--rubikMedium);
    font-size: 4vh;
    text-align: center;
}

.contenido-ventana label {
    font-size: 3vh;
    margin-top: 4vh;
}

.contenido-ventana input {
    width: 85%;
    padding: 2vh;
    margin-top: 1vh;
    margin-bottom: 3vh;
    margin-left: 0;
    margin-right: 0;
    border: 0.4vh solid #ccc;
    border-radius: 2vh;
    font-family: var(--rubikLight);
    font-size: 3vh;
}

.contenido-ventana .boton {
    background-color: var(--azulClaro);
    color: black;
    padding: 2.4vh;
    font-size: 4.4vh;
    margin-top: 4vh;
    text-align: center;
    width: auto;
}

.botones-ventana {
    display: flex;
    justify-content: center;
    width: 100%;
}

#passwordsDontMatch,
#userNotFound,
#userAlreadyRegistered,
#incorrectPassword,
#passwordNotLongEnough {
    color: red;
    margin-top: 0;
    text-align: left;
    font-family: var(--rubikLight);
    font-size: 2.4vh;
    display: none;
}

/**
  * =================================================
  * MEDIA QUERIES
  * =================================================
  */

/* Pantallas grandes */
@media (max-width: 2560px) {
    body{
        background-image: 
        url('../../media/images/avif/aterrizajeFondo2560.avif'),
        url('../../media/images/avif/aterrizajeFondo2560.webp'),
        url('../../media/images/avif/aterrizajeFondo2560.jpg');
    }
}

/* Pantallas estándar */
@media (max-width: 1920px) {
    body{
        background-image: 
        url('../../media/images/avif/aterrizajeFondo1920.avif'),
        url('../../media/images/avif/aterrizajeFondo1920.webp'),
        url('../../media/images/avif/aterrizajeFondo1920.jpg');
    }
}

/* Pantallas pequeñas */
@media (max-width: 1200px) {
    body{
        background-image: 
        url('../../media/images/avif/aterrizajeFondo1200.avif'),
        url('../../media/images/avif/aterrizajeFondo1200.webp'),
        url('../../media/images/avif/aterrizajeFondo1200.jpg');
    }
    .botones {
        flex-direction: column;
        align-items: center;
        gap: 2vh;
    }
    .contenido-ventana{
        transform: scale(0.9);
    }
}

/* Tabletas */
@media (max-width: 768px) {
    body{
        background-image: 
        url('../../media/images/avif/aterrizajeFondo768.avif'),
        url('../../media/images/avif/aterrizajeFondo768.webp'),
        url('../../media/images/avif/aterrizajeFondo768.jpg');
    }
    .contenido-ventana{
        transform: scale(0.8);
    }
}

/* Móviles */
@media (max-width: 480px) {
    body{
        background-image: 
        url('../../media/images/avif/aterrizajeFondo480.avif'),
        url('../../media/images/avif/aterrizajeFondo480.webp'),
        url('../../media/images/avif/aterrizajeFondo480.jpg');
    }
    .contenido-ventana{
        transform: scale(0.7);
    }
}