@charset "UTF-8";
@font-face {
  font-family: "Rubik Light";
  src: url("../../media/fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rubik Regular";
  src: url("../../media/fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rubik Medium";
  src: url("../../media/fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/* Acomodar todos los elementos incluyendo lo de fuera (padding, border...) de los elementos en el cálculo de sus dimensiones */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik Medium", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  background-color: white;
  color: black;
  width: 100%;
  z-index: 0;
  box-shadow: 0px 0px 10px black;
}

/* Parte izquierda del header */
.header-izquierdo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header-izquierdo h1 {
  font-size: 1.5rem;
}
.header-izquierdo a {
  text-decoration: none;
  background-color: #8FE1FF;
  padding: 0.5rem 1rem;
  border-radius: 0.7em;
  color: black;
  font-family: "Rubik Regular", sans-serif;
  transition: filter 0.2s;
}
.header-izquierdo a:hover {
  filter: brightness(0.75);
}

/* Parte derecha del header */
.header-derecho {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.header-derecho img {
  border-right: 1em;
  cursor: pointer;
}
.header-derecho img:nth-child(1) {
  width: 2em;
  height: 2em;
  transition: 1s;
}
.header-derecho img:nth-child(1):hover {
  transform: rotate(360deg);
}
.header-derecho img:nth-child(2) {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

/* Texto al lado del icono del usuario en el header derecho */
.texto-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texto-usuario p {
  margin: 0.25em;
}
.texto-usuario .nombre-usuario {
  font-family: "Rubik Regular", sans-serif;
}
.texto-usuario .medallas-usuario {
  font-family: "Rubik Light", sans-serif;
  text-align: center;
}

main {
  text-align: center;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  color: white;
  width: 100%;
  min-height: 100vh;
}
main h1 {
  font-size: 2rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem;
  background-color: #2D2D2D;
  color: lightgray;
  width: 100%;
  top: 1rem;
  position: relative;
}
footer a {
  color: lightgray;
  text-decoration: none;
  font-family: "Rubik Regular", sans-serif;
  transition: color 0.2s;
}
footer a:hover {
  color: white;
}

/* Contenedor de la configuración */
.configuracion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem; /* Espacio entre el texto y la casilla */
  width: 100%;
}

/* Estilo del texto */
.configuracion label {
  transform: translate(0%, -70%);
  font-size: 1.5rem;
  font-family: "Rubik Regular", sans-serif;
  color: black;
  line-height: 1; /* Asegura que el texto esté alineado con la casilla */
}

/* Estilo del checkbox */
.configuracion input[type=checkbox] {
  min-width: 1em;
  width: 2em;
  height: 2em;
  cursor: pointer;
  accent-color: #8FE1FF;
  display: inline-block;
}

/* Botón genérico */
.boton {
  font-family: "Rubik Light", sans-serif;
  font-size: 2vw;
  padding-top: 2.25vh;
  padding-bottom: 2.25vh;
  width: 30vh;
  text-align: center;
  border: 0.5vh solid black;
  border-radius: 2vh;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
  outline: none;
  box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.5);
}
.boton:hover {
  filter: brightness(0.75);
}

.boton-blanco {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}
.boton-blanco img {
  width: 1em;
}

/* Botón azul oscuro */
.boton-azul {
  background-color: #064156;
  color: white;
}

/* Botón de confirmar cambios (azul claro)*/
.confirmar-cambios {
  background-color: #8FE1FF;
  color: black;
}

/* Ventana que ocupa lo que es el widget + el espacio negativo negro semi-transparente de alrededor,que se extiende hasta el límite de la pantalla */
.ventana-configuracion,
.ventana-usuario,
.ventana-confirmacion {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

/* Lo que es el widget de la ventana en sí */
.contenido-ventana {
  transform: scale(0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: left;
  color: black;
  padding: 6vh;
  width: 80vh;
  gap: 2rem;
  border-radius: 4vh;
}
.contenido-ventana .informacion-usuario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenido-ventana .informacion-usuario img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1em;
}
.contenido-ventana .informacion-usuario p {
  margin: 0.4em;
  font-size: 120%;
}
.contenido-ventana .informacion-usuario .nombre-usuario {
  font-family: "Rubik Regular", sans-serif;
  font-size: 200%;
}
.contenido-ventana .informacion-usuario .medallas-usuario {
  font-family: "Rubik Light", sans-serif;
}

.titulo-ventana {
  margin-top: 0;
  font-family: "Rubik Medium", sans-serif;
  font-size: 4vh;
  text-align: center;
}

/* Título de un campo en la ventana de usuario */
.contenido-ventana section label,
.contenido-ventana section section label {
  font-size: 3vh;
  margin-top: 4vh;
  font-family: "Rubik Regular", sans-serif;
}

/* Input de formulario en ventana de usuario */
.contenido-ventana section input,
.contenido-ventana section section input {
  width: 85%;
  padding: 2vh;
  margin-top: 1vh;
  margin-bottom: 3vh;
  margin-left: 0;
  margin-right: 0;
  border: 0.4vh solid #ccc;
  border-radius: 2vh;
  font-family: "Rubik Light", sans-serif;
  font-size: 3vh;
}

/* Botón en ventana */
.contenido-ventana div .boton {
  padding: 2.4vh;
  font-size: 4.4vh;
  margin-top: 4vh;
  text-align: center;
  width: auto;
  border: 0.5vh solid black;
}

/* Contenedor de los botones en la ventana */
.botones-ventana {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* Textos de error en los inputs */
#userAlreadyRegistered,
#passwordNotLongEnough {
  color: red;
  margin-top: 0;
  text-align: left;
  font-family: "Rubik Light", sans-serif;
  font-size: 1.4em;
  display: none;
}

/* Texto de éxito en los inputs */
#changedData {
  color: green;
  margin-top: 0;
  text-align: left;
  font-family: "Rubik Light", sans-serif;
  font-size: 1.7em;
  display: none;
}

/* Ventana de confirmación */
.ventana-confirmacion .contenido-ventana {
  gap: 0;
  width: 40em;
}
.ventana-confirmacion .contenido-ventana .titulo-ventana {
  font-family: "Rubik Regular", sans-serif;
}

/* La imagen es un contenedor en realidad: este es. */
.avatar-container {
  transform: scale(1.5);
  margin: 2em;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}
.avatar-container .user-avatar {
  object-fit: cover;
  transition: opacity 0.3s ease;
}
.avatar-container .edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: opacity 0.2s ease;
  width: 1em;
  height: 1em;
}
.avatar-container input {
  display: none;
}
.avatar-container:hover {
  cursor: pointer;
}
.avatar-container:hover .user-avatar {
  opacity: 0.5;
}
.avatar-container:hover .edit-icon {
  opacity: 1;
}

/** Media Queries para Elementos Generales (Comunes) **/
@media (max-width: 768px) {
  header {
    height: 5em;
  }
  header h1 {
    display: none;
  }
  footer {
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .header-derecho {
    gap: 1em;
  }
  .texto-usuario .medallas-usuario {
    display: none;
  }
  .texto-usuario p {
    margin: 0;
  }
  #passwordNotLongEnough,
  #userAlreadyRegistered,
  #changedData {
    font-size: 1.2em;
  }
}
@media (max-width: 480px) {
  header, main {
    overflow: scroll;
  }
  .header-derecho {
    margin-right: 1em;
  }
  .header-derecho .texto-usuario {
    display: none;
  }
  .header-derecho img:nth-child(1) {
    margin-left: 2em;
  }
  .contenido-ventana {
    position: inherit;
    transform: scale(0.8);
    gap: 50%;
    width: 120%;
  }
  .informacion-usuario {
    margin: 1em;
  }
  button, input {
    overflow: hidden;
  }
  #passwordNotLongEnough,
  #userAlreadyRegistered,
  #changedData {
    font-size: 1em;
  }
}
body {
  background-color: #000617;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../media/images/avif/tutorialesFondo3200.avif"), url("../../media/images/webp/tutorialesFondo3200.webp"), url("../../media/images/jpg/tutorialesFondo3200.jpg");
}

/* El contenedor del contenido de la página en el main */
.contenedor-tutoriales {
  display: flex;
  flex-direction: column;
  padding-bottom: 12%;
}

/* Contenedor con un tutorial */
.contenedor-tutorial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.contenedor-tutorial img {
  border-radius: 3rem;
  border: 0.4em solid black;
  width: 20rem;
}
.contenedor-tutorial .contenedor-texto {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contenedor-tutorial .contenedor-texto h2 {
  font-family: "Rubik Regular", sans-serif;
}
.contenedor-tutorial .contenedor-texto ul {
  font-family: "Rubik Light", sans-serif;
  text-align: justify;
}
.contenedor-tutorial .contenedor-texto ul li {
  padding: 1rem;
  font-size: 120%;
}
.contenedor-tutorial .contenedor-texto ul li img {
  border: 0px;
  width: 1rem;
  height: 1rem;
  filter: invert(1) brightness(10);
}

/* Barra generada con estilos sólo para separar los tutoriales */
.barra-divisora {
  opacity: 0.2;
  background-color: white;
  border-radius: 100em;
  padding: 0.25em;
  margin: 4em;
  width: 80vw;
}

@media (max-width: 2560px) {
  main {
    background-image: url("../../media/images/avif/tutorialesFondo2560.avif"), url("../../media/images/webp/tutorialesFondo2560.webp"), url("../../media/images/jpg/tutorialesFondo2560.jpg");
  }
}
@media (max-width: 1920px) {
  main {
    background-image: url("../../media/images/avif/tutorialesFondo1920.avif"), url("../../media/images/webp/tutorialesFondo1920.webp"), url("../../media/images/jpg/tutorialesFondo1920.jpg");
  }
}
@media (max-width: 1200px) {
  main {
    background-image: url("../../media/images/avif/tutorialesFondo1200.avif"), url("../../media/images/webp/tutorialesFondo1200.webp"), url("../../media/images/jpg/tutorialesFondo1200.jpg");
  }
}
@media (max-width: 768px) {
  main {
    background-image: url("../../media/images/avif/tutorialesFondo768.avif"), url("../../media/images/webp/tutorialesFondo768.webp"), url("../../media/images/jpg/tutorialesFondo768.jpg");
  }
  .contenedor-tutorial {
    flex-direction: column;
  }
  .contenedor-tutorial .contenedor-texto {
    width: 80vw;
  }
}
@media (max-width: 480px) {
  main {
    background-image: url("../../media/images/avif/tutorialesFondo480.avif"), url("../../media/images/webp/tutorialesFondo480.webp"), url("../../media/images/jpg/tutorialesFondo480.jpg");
  }
  .contenedor-tutorial img {
    border: 0px;
    border-radius: 0px;
    width: 100vw;
    height: auto;
  }
  .contenedor-tutorial .contenedor-texto {
    width: 80vw;
  }
  li {
    text-align: left;
  }
}/*# sourceMappingURL=tutorialesStyle.css.map */