$breakpoint-movil: 480px;
$breakpoint-tableta: 768px;
$breakpoint-pequeno: 1200px;
$breakpoint-estandar: 1920px;
$breakpoint-grande: 2560px;

$rubik-light: 'Rubik Light', sans-serif;
$rubik-regular: 'Rubik Regular', sans-serif;
$rubik-medium: 'Rubik Medium', sans-serif;

$rubik-medium-font: '../../media/fonts/Rubik-Medium.ttf';
$rubik-regular-font: '../../media/fonts/Rubik-Regular.ttf';
$rubik-light-font: '../../media/fonts/Rubik-Light.ttf';

$azul-oscuro: #064156;
$azul-transparente: #91E2FF80;
$azul-claro: #8FE1FF;

$background-image: '../../media/images/avif/aterrizajeFondo.avif';