// Font faces para fuentes

@font-face {
    font-family: 'Rubik Light';
    src: url('../../media/fonts/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Regular';
    src: url('../../media/fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Medium';
    src: url('../../media/fonts/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

// Variables de fuentes
$rubikLight: 'Rubik Light', sans-serif;
$rubikRegular: 'Rubik Regular', sans-serif;
$rubikMedium: 'Rubik Medium', sans-serif;

// Variables de colores
$azulOscuro: #064156;
$azulTransparente: rgba(145, 226, 255, 0.5);
$azulMedio: #00BBFF;
$azulClaro: #8FE1FF;
$azulTransparenteClaro: rgba(206, 242, 255, 0.957);

// Variables de tamaños para los puntos de ruptura
$puntosRuptura: (
    "movil": 480px,
    "tableta": 768px,
    "pantallaPequena": 1200px,
    "pantallaEstandar": 1920px,
    "pantallaGrande": 2560px
);

// Otras variables
$borderRadius: 2vh;
$buttonShadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.5);
$transitionSpeed: 0.2s;
$botonesColores: (
    blanco: white,
    azul: $azulOscuro
);