// Variables de colores
$azulOscuro: #064156;
$azulTransparente: rgba(145, 226, 255, 0.5);
$azulClaro: #8FE1FF;

// Variables de fuentes
$rubikLight: 'Rubik Light', sans-serif;
$rubikRegular: 'Rubik Regular', sans-serif;
$rubikMedium: 'Rubik Medium', sans-serif;

// Variables de tamaños para los puntos de ruptura
$puntosRuptura: (
    "movil": 480px,
    "tableta": 768px,
    "pantallaPequena": 1200px,
    "pantallaEstandar": 1920px,
    "pantallaGrande": 2560px
);

// Otras variables
$borderRadius: 2vh;
$buttonShadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.5);
$transitionSpeed: 0.2s;