// main.scss
@use 'variables';
@use 'mixins';

@include mixins.font-face('Rubik Medium', variables.$rubik-medium-font);
@include mixins.font-face('Rubik Regular', variables.$rubik-regular-font);
@include mixins.font-face('Rubik Light', variables.$rubik-light-font);

body {
  margin: 0;
  padding: 0;
  font-family: variables.$rubik-regular-font;
  background: url(variables.$background-image) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
}

main {
  text-align: center;
}

.titulo-goal-tracker {
  margin: 0;
  margin-top: 7vh;
  color: white;
  font-family: variables.$rubik-medium;
  font-size: 7.1vw;
  text-shadow: 0px 0.8vw 0.8vw rgba(0, 0, 0, 0.25);

  @include mixins.breakpoint(movil) {
    font-size: 15vw;
    margin-top: 5vh;
  }

  @include mixins.breakpoint(tableta) {
    font-size: 9.6vw;
  }

  @include mixins.breakpoint(pequeno) {
    font-size: 6.4vw;
  }

  @include mixins.breakpoint(estandar) {
    font-size: 5.1vw;
  }

  @include mixins.breakpoint(grande) {
    font-size: 4vw;
  }
}

.subtitulo-crea-gestiona {
  margin: 0;
  margin-top: 3vw;
  color: white;
  font-family: variables.$rubik-light;
  font-size: 2.8vw;
  text-shadow: 0px 0.2vw 0.1vw rgba(0, 0, 0, 0.25);

  @include mixins.breakpoint(movil) {
    font-size: 6vw;
    margin-top: 6vw;
  }

  @include mixins.breakpoint(tableta) {
    font-size: 4.2vw;
    margin-top: 4.8vw;
  }

  @include mixins.breakpoint(pequeno) {
    font-size: 3.5vw;
  }

  @include mixins.breakpoint(estandar) {
    font-size: 2.8vw;
  }

  @include mixins.breakpoint(grande) {
    font-size: 2.4vw;
  }
}

.botones {
  margin: 0;
  margin-top: 5vw;
  display: flex;
  justify-content: center;
  gap: 2vw;
  padding: 2vw;
  background-color: variables.$azul-transparente;
  border-radius: 4vh;

  @include mixins.breakpoint(movil) {
    flex-direction: column;
    gap: 3vw;
    padding: 4vh;
  }

  @include mixins.breakpoint(tableta) {
    gap: 3.6vw;
    padding: 3.6vw;
  }
}

.boton {
  font-family: variables.$rubik-light;
  font-size: 2vw;
  padding-top: 1.25vw;
  padding-bottom: 1.25vw;
  width: 16vw;
  text-align: center;
  border: 0.5vh solid black;
  border-radius: 2vh;
  cursor: pointer;
  transition: filter 0.2s ease-in-out;
  outline: none;

  @include mixins.breakpoint(movil) {
    font-size: 4.5vw;
    width: 100%;
    padding: 2vh;
  }

  @include mixins.breakpoint(tableta) {
    font-size: 3vw;
    width: 21.6vw;
    padding: 1.8vw;
  }
}
